backports.entry-points-selectable==1.1.1
distlib==0.3.3
filelock==3.4.0
joblib==1.1.0
numpy==1.21.4
platformdirs==2.4.0
scikit-learn==1.0.1
scipy==1.7.3
six==1.16.0
sklearn==0.0
threadpoolctl==3.0.0
virtualenv==20.10.0
